aiohttp == 3.7.4.post0
async-timeout == 3.0.1
attrs == 21.4.0
backports.entry-points-selectable == 1.1.1
beautifulsoup4 == 4.10.0
bs4 == 0.0.1
CacheControl == 0.12.10
cachy == 0.3.0
certifi == 2021.10.8
cffi == 1.15.0
chardet == 4.0.0
charset-normalizer == 2.0.7
cleo == 0.8.1
click == 8.0.3
clikit == 0.6.2
crashtest == 0.3.1
cryptography == 35.0.0
debugpy == 1.2.1
discord == 1.7.3
distlib == 0.3.3
docopt == 0.6.2
filelock == 3.3.2
Flask == 2.0.2
future == 0.18.2
html5lib == 1.1
idna == 3.3
importlib-metadata == 3.10.1
itsdangerous == 2.0.1
jedi == 0.15.2
jeepney == 0.7.1
Jinja2 == 3.0.3
keyring == 21.8.0
lockfile == 0.12.2
MarkupSafe == 2.0.1
msgpack == 1.0.2
multidict == 6.0.2
numpy == 1.22.2
packaging == 20.9
parso == 0.5.2
pastel == 0.2.1
pexpect == 4.8.0
pip == 22.0.4
pipreqs-amasad == 0.4.10
pkginfo == 1.7.1
platformdirs == 2.4.0
pluggy == 0.13.1
poetry == 1.1.11
poetry-core == 1.0.7
ptyprocess == 0.7.0
pycparser == 2.21
pyflakes == 2.1.1
pylev == 1.4.0
pyparsing == 3.0.5
python-jsonrpc-server == 0.3.2
python-language-server == 0.31.10
requests == 2.26.0
requests-toolbelt == 0.9.1
rope == 0.18.0
SecretStorage == 3.3.1
setuptools == 60.3.1
shellingham == 1.4.0
six == 1.16.0
soupsieve == 2.3.1
toml == 0.10.2
tomlkit == 0.7.2
typing_extensions == 4.0.1
ujson == 1.35
urllib3 == 1.26.7
utils == 1.0.1
virtualenv == 20.10.0
webencodings == 0.5.1
Werkzeug == 2.0.3
wheel == 0.37.0
yapf == 0.31.0
yarg == 0.1.9
yarl == 1.7.2
zipp == 3.4.1
